@page
@model TravelAdvisor.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div>
        <h3>History</h3>
        <div>
            <p>Established in 2017, Company was co-founded by Apoorva, Praveena and Jayashree</p>
            <p>The goal of creating a platform like TripAdvisor was to integrate all things at one place, in order to save time and money.</p>
            <p>Our company Success is measured by customer satisfaction. </p><br />

        <p>Established in 2017, Company was co-founded by Apoorva, Praveena and Jayashree</p>
        <p>The goal of creating a platform like TripAdvisor was to integrate all things at one place, in order to save time and money.</p>
        <p>Our company Success is measured by customer satisfaction. </p><br />
    </div>

</div>
<div class="card-group">
   
    <h3>Our Team</h3>
    <div class="card-group">
        <div class="card">
            <img src="~/Images/Team_Member1.png"  alt="Praveena" height="50" width="50" />
            <div class="card-body">
                <h5 class="card-title">Praveena Tati</h5>
                <h5 class="card-title text-muted">Co-Founder, Integration Developer</h5>
                <p class="card-text">Has Around 15 years of Experience in the Industry<br /><br />(859) 684 3285 <br /><br />praveena@tati.com<br /></p>
            </div>
        </div>

        <div class="card">
            <img src="~/Images/Team_Member2.jpg"  alt="Apoorva" height="50" width="50" />
            <div class="card-body">
                <h5 class="card-title">Apoorva Navlay</h5>
                <h5 class="card-title text-muted">Frontend Developer</h5>
                <p class="card-text">Has around 10 years of experience in online real estate engagements<br /><br />(513) 778 113<br /><br />apoorva@navlay.com<br /></p>
            </div>
        </div>
        <div class="card">
            <img src="~/Images/Team_Member3.png"  alt="Praveena" height="50" width="50" />
            <div class="card-body">
                <h5 class="card-title">Jayashree Kodukula</h5>
                <h5 class="card-title">Product Manager</h5>
                <p class="card-text">MBA(Marketing)<br />Head of Business Relationships<br /><br />513 697 554<br /><br />jayashree@kodukula.com<br /></p>
            </div>
        </div>  
    </div>
</div>
</body>
</html>
