@page
@model TravelAdvisor.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Us";
}

<style>
    body 
    {
        background-color: gainsboro;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>You can reach us out by following:</p>
<ol>
    <li>Email us: query@traveladvisor.com</li>
    <li>Call us: 513123456</li>
</ol>