@page
@model TravelAdvisor.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <h1>@ViewData["Title"]</h1>

    <h5>You can reach us out by following:</h5>
    <form method="post" enctype="multipart/form-data" asp-page="/Import" id="userform">

        <input name="FirstName" type="text" width="30" />
        <input name="LastName" type="text" width="30" />
        <input name="email" type="text" width="50" />
    
        <input type="file" asp-for="Upload" />
        <input type="submit" />
    </form>

    <textarea name="Comment" form="userform">Enter text here...</textarea>

</body>
</html>