@page
@model TravelAdvisor.Pages.DataModel
@{
}

<div class="container-fluid">
    <h1 style="font-family: Georgia; text-align:center; font-size: 50px; color: #D2691E">Weather Output</h1>
</div>

<hr class="bg-green" />

<div class="container-fluid">
    <p style="font-family: 'Times New Roman'; text-align:center; font-size: 30px">
        Get the json data here:
    </p>
    <p style="text-align:center"><a asp-page="/exposedata">Sunrise and Sunset Timings</a></p>
    
</div>