@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row py-lg-3">
        <h2 class="display-4" style="color:darkblue">Book your next travel destination today!</h2>
    </div>
    <div class="row text-center">
        <p class="lead">Happiness is a way of travel,let travel advisor choose your happiness</p>
    </div>
</div>
<div class="card-group">
    <div class="card">
        <img src="~/Images/us states.jpg" class="card-img-top" alt="Buy">
        <div class="card-body">
            <h5 class="card-title">Search by State</h5>
            <p class="card-text">Find your Dream Vacation from our extensive listing and powerful visualizations.We can match you with right place and price.</p>
            <a href="/Dwellings/Search" class="btn btn-primary">Search Locations</a>
        </div>
    </div>
    <div class="card">
        <img src="~/Images/hotels.jpg" class="card-img-top" alt="Agents">
        <div class="card-body">
            <br />
            <h5 class="card-title">Search by Hotel</h5>
            <p class="card-text">Get in touch with our agents who specialise in tourist  industry to help you out with your custom needs. </p>
            <a href="/Agents/List" class="btn btn-primary">Connect to Agent</a>
        </div>
    </div>
    <div class="card">
        <img src="~/Images/vacationspots.jpg" class="card-img-top" alt="Sales Office">
        <div class="card-body">
            <h5 class="card-title"> Search by vacation spot</h5>
            <p class="card-text">You can also visit any of our sales office nearrby your location to discuss about your specific needs. We would be happy to assist you in person.</p>
            <a href="/SalesOffices/List" class="btn btn-primary">List of vaction spots</a>
        </div>
    </div>
</div>
