@page
@model TravelAdvisor.Pages.ThankyouModel
@{
}

<div class="text-center" style="Color:yellow">    
    <h2>Thank you for contacting TravelAdvisor!</h2>
    <h3>Our management team will contact you within 24 hours.</h3>
</div>